.total {
  margin-top: 0;
  flex-grow: 1;
}

.consumer {
  display: block;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 10px;

  h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.3em;
  }

  p {
    margin-bottom: 0;
  }
}

.overpay {
  white-space: nowrap;
  color: #b9b9b9;
}

.price {
  white-space: nowrap;
}
