.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.total {
  margin-top: 0;
  flex-grow: 1;
}

.consumer {
  display: block;
  margin-top: 60px;
  text-align: center;
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 10px;

  h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.3em;
  }

  p {
    margin-bottom: 0;
  }
}
